.cards {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f7f7f7;
    background-clip: border-box;
    border-radius: .25rem;
    border-top: 5px solid #79c419;
    border-bottom: 5px solid #79c419;
}
.cardImg{
    filter:grayscale(100%);
}

.cardlink{
    width: 100%;
}
/*team two style css*/
.staff-member {
    position: relative;
    display: block;
}
.card{
    margin: 0px 0px 10px 0px !important;
}
.staff-member h5, .staff-member p, .staff-member span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}
.staff-member h5, .staff-member p, .staff-member span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}

.staff-member span {
    font-size: 0.9rem;
    font-weight: 400;
    color: #757575;
    display: inline-block;
}


.staff-member .overlay {
    background: #65258a;
    background: -moz-linear-gradient(left, #65258a 2%, #e80566 82%);
    background: -webkit-linear-gradient(left, #65258a 2%, #e80566 82%);
    background: linear-gradient(to right, #65258a 2%, #e80566 82%);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 4px;
}

.staff-member .overlay .teacher-quote {
    font-size: 0.9rem;
    font-weight: 300;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}
.staff-member .overlay .teacher-name {
    color: #fff;
    text-decoration: none !important;
    display: block;
    margin-top: 15px;
}
.staff-member .overlay h5 {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 0;
}
.staff-member .overlay .teacher-field {
    font-size: 0.9rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: inline-block;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    opacity: 0;
}
.staff-member .overlay ul.social {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}
.staff-member .overlay ul.social li {
    margin: 0;
}
.staff-member .overlay ul.social a {
    margin: 0 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    display: block;
}
.staff-member .overlay ul.social li a:hover span{
    color: #e80566;
}
.staff-member .overlay ul.social {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}
.staff-member:hover .social {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.staff-member .overlay .teacher-see-profile {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}
.staff-member:hover .overlay {
    opacity: 0.90;
}
.teacher{
    font-weight: bold;
    font-family: var(--main-font);
    color: #3c3c3c !important;
}
.staff-member:hover .overlay h5, .staff-member:hover .overlay p, .staff-member:hover .overlay span, .staff-member:hover .overlay ul.social {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
}

.team-social-list li a{
    padding: 5px;
}

.team-social-list li span {
    font-size: 18px;
    line-height: inherit;
    vertical-align: middle;
}

.course-card-style-3 {
    margin: 0rem 0.5rem 1.5rem 0.5rem;
  }
  .course-card-style-3 .card {
    position: relative;
    border: 0;
    border-radius: 0;
  }
  .course-card-style-3 .card > i {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    font-size: 1rem;
  }
  .course-card-style-3 .card .thumb {
    position: relative;
  }
  .course-card-style-3 .card .thumb .hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .course-card-style-3 .card .thumb .hover .plus {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
    cursor: pointer;
  }
  .course-card-style-3 .card .thumb .hover .plus i {
    color: #fff;
  }
  .course-card-style-3 .card .thumb .hover .hover-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 62, 72, 0.7);
    padding: 3rem 2rem;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
    text-align: left;
  }
  .course-card-style-3 .card .thumb .hover .hover-inner * {
    color: #fff;
  }
  .course-card-style-3 .card .card-img-top {
    border-radius: 0;
  }
  .course-card-style-3 .card .card-img-overlay {
    all: initial;
  }
  .course-card-style-3 .card .card-img-overlay .card-body {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #fff;
  }
  .course-card-style-3 .card .card-img-overlay .card-body h6 {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: 700;
    color: #555;
    font-family: 'Quicksand', sans-serif;
  }
  .course-card-style-3 .card .card-img-overlay .card-body p {
    font-size: 11px;
    color: #555;
    margin: 0px;
  }

  @media (max-width:1440px)
  {
    .card-body{
      height: 150px;
    }
  }
  .card-body{
    height: 95px;
  }

.card-title{
  display: inline;
}
.cardz-body{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}